// THIS FILE IS CODE-GENERATED
// Encapsule holistic v0.3.4 "snowpack" -1dnunoEQ8aUgOdFVoKGeQ a7a18705bd1f078c58c612c98d87f003e965b4ff
//

/BUILD/
/DISTS/

# Node.js
node_modules/*

# emacs
*~
\#*

*.log

.DS_Store
