// THIS FILE IS CODE-GENERATED
// Encapsule holistic v0.1.05 "phoenix" PXELWB0pQUuMYhqlMTY9_Q 979b4127c1566b605693323cabc306633e498836
//

/BUILD/
/DISTS/

# Node.js
node_modules/*

# emacs
*~
\#*

*.log

.DS_Store
