// THIS FILE IS CODE-GENERATED
// Encapsule holistic v0.3.3 "snowpack" 52m3Os67SkmM1vL9uzaFKQ 7e54d32437759b6c073a2442de6693c481cc0d03
//

/BUILD/
/DISTS/

# Node.js
node_modules/*

# emacs
*~
\#*

*.log

.DS_Store
