/* encapsule-org-base-styles.css */

BODY {
    font-family: Nunito;
    font-size: 12pt;
}

H1 {
    font-family: Montserrat;
}

H2 {
    font-family: Montserrat;
}

H3 {
    font-family: Montserrat;
}

H4 {
    font-family: Montserrat;
}

H5 {
    font-family: Montserrat;
}

H6 {
    font-family: Montserrat;
}

